body {
    background-color: rgb(14, 158, 158);
}

h1 {
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto
}

h2 {
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 3px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 0px;
}

p {
    margin-left: 10px;
    padding-left: 10px;
}

.info {

    border-style: solid;
    border-color: azure;
    border-radius: 5px;
    width: auto;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom 5px;
    padding-left: 5px;
    padding-top: 0px;
}

ul,
ol {
    margin-left: 10px;
    padding-left: 25px;
}

a {
    color: beige;
}

.header {
    display: flex;
    justify-content: right;
}

.links {
    margin-left: 5px;
    margin-right: 5px;
}

.content-left,
.content-right {
    display: flex;
    background-color: darkcyan;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
}

.content-left {
    flex-direction: column;
    width: 55%;
}

.content-right {
    width: 37%;
}

.content {
    display: flex;
    margin: 5px;
    /* justify-content: space-evenly; */
}

.imge {
    width: 100%;
    height: auto;
    align-self: start;
}

.container,
.container-2,
.container-3 {
    border-radius: 5px;
    background-color: darkcyan;
}

.block,
.block-2,
.block-3 {
    width: 200px;
    height: 200px;
    margin: 5px;
    background-color: beige;
}

.container {
    height: 500px;
}

.block {
    margin: auto;
}

.container-2 {
    display: flex;
    height: 300px;
    align-items: center;
}

.block-2 {
    margin: auto;
}

.container-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 500;
}

.block-3 {
    width: 200px;
    height: 200px;
    background-color: beige;
}

.imge2 {
    display: block;
    margin: auto;
    width: 200px;
}

.container-4 {
    position: relative;
    border: 2px solid black;
    width: 800px;
    height: 800px;
}

.square-1 {
    position: absolute;
    left: 150px;
    top: 150px;
    border: 2px solid red;
    width: 200px;
    height: 200px;
}

.square-2 {
    position: absolute;
    top: 300px;
    left: 300px;
    border: 2px solid blue;
    width: 200px;
    height: 200px;
}

.square-3 {
    position: absolute;
    top: 450px;
    left: 450px;
    border: 2px solid green;
    width: 200px;
    height: 200px;
}

.foto{
    position:fixed;
    width: 200px;
    height: 200px;
    bottom: 0px;
    right: 0px;
}